.heading > span{
    color: #138496 !important;
    font-size: 18px;
    font-weight: 700px;
    font-family: 'Roboto', sans-serif;
  }
  .heading > h1{
    font-size: 38px !important;
    font-weight: 700px;
    font-family: 'Roboto', sans-serif;
    line-height: 40px !important;
    padding-top: 20px !important;
  }
  .input-group-text{
    height: 100%;
    border-radius: 0 !important;
    
  }
  .row{
    margin: 0 !important;
  }