.navbar{
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
  position: fixed;
  margin-bottom: 20px;
}
.navbar-brand > img{
  height: 90px;
  width: 130px;
}
a {
  color: none;
  text-decoration: none;
  background-color: transparent;
}
.nav-item > .nav-link{
  font-size: 17px;
  color: #138496 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  white-space: nowrap;
}
.dropdown-menu{
  --bs-dropdown-link-active-bg: none !important;
  background-color: #f9f9f9 !important;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,.2);
  padding: 20px 0 !important;
  --bs-dropdown-link-hover-bg:none !important;
  --bs-dropdown-link-active-color: #fff;
}
 .dropdown-item.active {
  background-color: #f9f9f9 !important;
}
.dropdown-item.active:hover {
  background-color:none !important;
}
.primary-btn, .input-group-text {
  background-color: #138496 !important;
  color: white !important;
  border-radius: 8px;
  padding: 6px 10px;
  font-weight: 500;
  font-size: 15px;
  width: fit-content !important;
  border: none !important;
  display: flex;
  align-items: center;
}
.secondary-btn{
  padding: 8px 12px;
  font-size: 16px;
  width: fit-content !important;
  border: none;
  color: #138496;
  background-color: white;
}
.secondary-btn:hover{
  border-bottom: #138496 !important;
}
.form-control{
  border: 2px solid #138496 !important;
}
.form-control:focus {
  border-color: #138496 !important;
  box-shadow:none !important;
}
.search-icon{
  position: absolute;
  top: 9px;
  right: 28px;
  font-size: 22px;
  font-weight: 600;
  color: #138496;
  cursor: pointer;
}
.login-btn{
  font-size: 17px !important;
  color: #138496 !important;
  font-family: 'Roboto', sans-serif;
  font-weight: 600 !important;
}

/* Testimonial css */
.testimonial{
  background-color: #138496;
}
.sub-heading>h2{
 color: white !important;
 font-size: 40px !important;
}
.sub-heading>p{
  color: white !important;
  font-size: 24px !important;
  font-weight: 600;
  padding: 20px 0;
 }
  .testimonial-card{
 padding: 20px 15px;
 }
 .testimonial-card >.card-body> p{
  font-family: 'Redressed';
  padding-top: 20px ;
 }
.full-star{
  color: yellow;
  font-size: 24px;
}
.null-star{
  font-size: 24px;
}

/* Footer css */
.footer-line{
  border-top: 1px solid #138496;
  border-bottom: 1px solid #138496;
  padding: 35px 0;
}
ul{
  list-style: none;
}
.footer-link{
  color: #138496;
  border-bottom: 2px solid #138496;
  font-size: 26px;
  font-weight: 500;
  padding-bottom: 5px;
  margin-bottom: 20px;
}
li>a{
  white-space:  nowrap;
}
.contact-media{
  color: #138496 !important;
  font-size: 16px;
  font-weight: 500;
}
.copyright{
  font-size: 20px;
  font-weight: 500;

}
.copyright > span{
  color: #138496;
  font-weight: 600;
}

.pagination {
  --bs-pagination-border-color: #138496 !important;
  --bs-pagination-hover-bg:#138496 !important;
  --bs-pagination-hover-color:white !important;
  --bs-pagination-focus-color: none !important;
  --bs-pagination-focus-bg: var(--bs-secondary-bg);
  --bs-pagination-focus-box-shadow: none !important;
  --bs-pagination-active-color: #fff;
  --bs-pagination-active-bg: #138496 !important;
  --bs-pagination-active-border-color: none !important;
}
.page-link:hover {
  border-color:none;
}
.page-link:focus {
  background-color: #138496 !important;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white !important;
}
.navbar-toggler {
  background-color: #138496 !important;
}
.navbar-toggler:focus {
  box-shadow:none !important;
}
.toggler-icon {
  color: white !important;
  font-size: 26px;

}
@media (max-width: 992px){
  .nav-button{
    position: absolute;
    top: 30px;
    right: 0;
  }
  .navbar-nav {
    justify-content: flex-start !important;
    align-items: start !important;
    padding-left: 16px !important;
}
.innercard-detail{
  width: 100% !important;
}
}

/* sidnavbar */
.offcanvas .nav-item  .nav-link{
  font-size: 20px !important;
}
.offcanvas .login-btn{
  font-size: 20px !important;
}
.btn-close:hover {
  color: none;
}
.btn-close{
  color: white;
}
.offcanvas .navbar-toggler{
  height: fit-content !important;
  padding:8px 15px;
  margin: 10px;
  border-radius: 8px;
}