@media only screen and (max-width: 1200px){
    .login-box {
        width: 70% !important;
    }
    .nav-item > .nav-link{
        font-size: 16px !important;
      }

}
@media only screen and (max-width: 992px){
    .login-box {
        width: 100%;
    }
    .navbar-collapse{
        border: 2px solid red !important;
        height: 100vh;
        width: 100vw;
    }
    .bread-middle {
        left: 5%;
    }
    .section-margin {
        margin: 35px 0px !important;
    }
}
@media only screen and (max-width: 768px){
    .login-box,.register-box {
        width: 100% !important;
    }
    .form-element .register-colume{
        flex-direction: column !important;
    }
    .heading > h1 {
        font-size: 30px !important;
    }
    .bread-title {
        font-size: 28px !important;
    }
    .bread-info, .bread-price {
        font-size: 20px !important;
        flex-direction: column;
        align-items: start !important;
    }
    .bread-price span {
        font-size: 25px !important;
    }
    .innercard-info,.innercard-price {
        flex-direction: column;
        align-items: start !important;
    }
}
@media only screen and (max-width: 525px){
    .login-box, .register-box {
        padding: 15px 25px !important;
    }
    .bread-info, .bread-price {
        font-size: 18px !important;
    }
    .bread-price span {
        font-size: 22px !important;
    }
    .breadcrumb-item, .breadcrumb-item.active {
        font-size: 16px !important;
    }
    .innercard-price span {
        font-size: 20px !important;
    }
    .innercard-info, .innercard-price {
        font-size: 20px !important;
    }
    .rent-box {
        padding: 50px 10px !important;
    }
    .section-margin {
        margin: 20px 0px !important;
    }
    .dashboard-information > form {
        border: 1px solid #a9c4c8;
        padding: 10px !important;
        margin: 2px !important;
    }
    .colum{
        flex-direction: column !important;
        justify-content: flex-end !important;
    }
    .contact-media {
        font-size: 14px !important;
        font-weight: 400 !important;
    }
}